# ignore instance files, but keep folder structure and example files
instance/*
!instance/*.example
!instance/static
instance/static/*
!instance/static/.gitkeep

*.env

venv

__pycache__
.idea
.DS_Store