# ignore instance files, but keep folder structure and example files
#instance/*
#!instance/*/
#!/instance/*.example
#instance/*/*
#!instance/*/.gitkeep

**/.env
**/.spotify-cache


venv/
__pycache__/
.idea/
.DS_Store
