{% extends "base.html" %}

{% block content %}
    <header id="intro">
        <h1>{{ g_name }}</h1>
        <p>
            I am a junior Computer Science major at the University of Notre Dame, and
            I come from Jefferson City, Missouri.
        </p>
        <p>
            In my free time, I enjoy playing golf, messing around with technology,
            watching sports, and listening to music.
        </p>
    </header>
    <footer id="colorful-socials">
        <ul>
            {% for social in g_socials.values() %}
                <li>
                    <a href="{{ social.url }}" title="{{ social.name }}">
                        <i class="fa {{ social.fa_icon }}" style="background-color: {{ social.bg_col }}"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </footer>
{% endblock %}