{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="center-container">
        <div class="centered-content">
            <section>
                <header id="intro">
                    <h1>{{ g_name }}</h1>
                    {% for line in about %}
                        <p>{{ line }}</p>
                    {% endfor %}
                </header>
                <footer id="colorful-socials">
                    <ul>
                        {% for social in g_socials.values() %}
                            <li>
                                <a href="{{ social.url }}" title="{{ social.name }}">
                                    <i class="fa {{ social.fa_icon }}" style="background-color: {{ social.bg_col }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </footer>
            </section>
        </div>
    </div>
{% endblock %}