{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/posts.css") }}">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
            {% if tags %}
            <div class="tag-header">
                <h2>Showing Results for tags:</h2>
                <ul>
                    {% for tag in tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
                <a href="/posts"><i class="fa fa-undo with-text"></i>Clear Tags</a>
            </div>
        {% endif %}

        <div class="posts">
            {% for post in post_data %}
                <div class="post">
                    <a class="post-thumbnail" href="/posts/{{ post.endpoint }}" style="background-image: url({{ post.metadata.image }}"></a>
                    <div class="post-header">
                        <a class="post-link" href="/posts/{{ post.endpoint }}">
                            <h3 class="post-title">{{ post.metadata.title }}</h3>
                            <p class="post-description">{{ post.metadata.description }}</p>
                            <div class="post-tags">
                                {% for tag in post.metadata.tags %}
                                    <a class="post-tag" href="/posts?tags={{ tag }}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}