h2 {
    color: var(--secondary-font-color);
}

.content-wrapper {
    padding: 1.8em;
}

.api-container {
    margin-top: 30px;
}
.api-container:first-child {
    margin: 0;
}

.api-header > h3 {
    margin-top: 30px
}

.api-header > span {
    margin-bottom: 20px;
}

.api-header i {
    padding-left: 10px;
    font-size: 1.7rem;
}

.api-content {
    border-bottom: solid;
    padding: 20px 0;
}

.spotify-content {
    border-bottom: solid;
    border-width: thin;
    padding: 20px 0;
}

.spotify-content:first-child {
    padding-top: 0;
}
.spotify-content:last-child {
    border: none;
}

@media (min-width: 840px) {
    .spotify-content {
        display: flex;
    }
    .col-left {
        width: 15%;
        padding: 0 20px;
    }
    .col-right {
        width: 85%;
    }
    .col-left > .sub-heading {
        position: relative;
        top: 30%;
    }
}



.col-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-right > .spotify-item {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;
    max-width: 7.8em;
}

.spotify-image {
    width: 100%;
    height: auto;
}

.spotify-title {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 17px;
    font-weight: 300;
    display: block;
    white-space: nowrap;
}
.square {
    position: relative;
    display: inline-block;
    width: 7.8em;
    height: 7.8em;
    overflow: hidden;
}

.square img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.spotify-preview-container {
  display: inline-block;
  max-width: 400px;
}

i.spotify-preview:before {
    content: "\f144";
}
i.spotify-preview.active:before {
    content: "\f28b";
}
i.spotify-preview.loading:before {
    content: "\f110";
}

.github-content {
    display: flex;
}
.github-content > div {
    padding: 0 20px;
}

.github-activity li {
    line-height: 1.2em;
    padding: 0 0 0.3em 0;
}

@media (max-width: 840px) {
    .github-content {
        display: block;
    }
    .github-activity {
        margin-top: 20px;
    }
}

.github-link {
    color: #bf6ed0;
    transition: color 0.2s;
    text-decoration: none;
    border-bottom: solid 1px #5f4365;
}

.github-link:hover {
    color: #ff01ea;
    text-decoration: none;
    border-bottom: none;
}

.github-profile img {
    padding: 10px;
}

.g-card {
    display: block;
    line-height: 1.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    color: var(--primary-font-color);
    font-family: Helvetica, serif
}

.fullname {
    font-size: 20px;
    padding-top: 12px;
    font-weight: 600;
}

.nickname {
    font-size: 15px;
    padding-top: 5px;
    line-height: 20px;
    font-weight: 300;
}

.bio {
    font-size: 12px;
    padding-top: 5px;
    font-weight: 100;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .4s ease;
    background-color: grey;
}

.overlay:hover {
    opacity: 0.6;
    cursor: pointer;
}

hr {
    color: var(--primary-font-color);
}

.icon {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.rank:before {
    content: "#";
}

.rank {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    font-size: 1.3em;
    color: white;
    background-color: #00000059;
    border-radius: 50%;
    padding: 0.1em 0.3em;
    font-weight: bold;
}