html, body {
    height: 100%;
}
body {
    display: flex;
    margin: 0;
}

#navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*padding: 35px 0;*/
    border-right: solid;
}
#navigation > header > img {
    border-radius: 50%;
    width: 100px;
}
#nav-toggler {
    display: none;
}
nav ul {
    list-style-type: none;
    padding: 0; margin: 0;
}
nav a {
    color: var(--link-color);
    display: block;
    padding: .9em 0;
}
nav .active > a {
    background-color: var(--primary-font-color);
    color: var(--main-bg-color);
}

nav a:hover {
    background-color: var(--secondary-font-color);
}
#nav-toggler > i {
    font-size: 2.3em !important;
    padding: 15px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer li {
    display: inline-block;
}
footer a {
    padding: 10px;
    font-size: 1.3em;
}
footer i:hover {
    color: var(--secondary-font-color);
}

#content {
    margin-left: 300px;
    width: 100%;
}

@media (max-width: 792px) {
    body {
        display: block;
    }
    #navigation {
        position: inherit;
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 0;
    }
    #navigation > header {
        display: none;
    }
    #nav-toggler {
        width: 100%;
        display: table;
        border-bottom: solid;
    }
    #nav-toggler:hover {
        cursor: pointer;
    }
    #head {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        width: 90%;
        text-align: left;
    }
    #head > h2 {
        color: var(--primary-font-color);
    }
    #navigation > footer {
        display: none;
    }
    #content {
        margin: 0;
        border-left: none;
    }
    #links {
        max-height: 0;
        transition: max-height 400ms ease-out;
    }
    #links.open {
        display: block;
        max-height: 300px; /*      FIX ???      */
        transition: max-height 400ms ease-out;
        border-bottom: solid;
    }
}