/* color scheme */
:root {
    --main-bg-color: #2a2738;
    --primary-font-color: #dddfe0;
    --secondary-font-color: #35ca4f;
    --link-color: #ffffff;
    --link-hover: #7dff09;
    --link-underline: #586557;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-font-color);
    -webkit-font-smoothing: antialiased;
    font-family: "Lato", sans-serif;
    /*font-family: Verdana, Geneva, sans-serif;*/
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0.3em 0;
}

i {
    color: var(--primary-font-color);
}

#intro {
    text-align: center;
    padding: 10px;
}
#content h1 {
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}
#content p {
    width: 80%;
    display: inline-block;
    text-align: left;
}
#colorful-socials {
    text-align: center;
}
#colorful-socials ul {
    list-style-type: none;
    display: block;
    padding: 35px 0;
}
#colorful-socials li {
    display: inline-block;
    margin: 5px;
}
#colorful-socials a {
    padding: 15px 0;
    text-decoration: none;

}
#colorful-socials i {
    padding: 0.45em;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 1.6em;
    color: var(--link-color);
}

footer li:hover {
    transform: scale(1.2);
    transition: all 350ms;
}
